/* article_style.css */

body {
  background-color: #7BD3EA;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-logo {
  width: 50px; /* 이미지의 너비 설정 */
  height: auto; /* 높이 자동으로 조절 */
  display: block; /* 이미지를 블록 요소로 설정하여 가운데 정렬을 용이하게 함 */
  position: absolute; /* 절대 위치 지정 */
  top: 5px; /* 위쪽 여백 조정 */
  left: 5px; /* 왼쪽 여백을 부모 요소의 가로 너비의 절반으로 설정 */
  z-index: 100;
}

.go-login {
  position: absolute; /* 절대 위치 지정 */
  top: 5px; /* 위쪽 여백 조정 */
  right: 1px; /* 왼쪽 여백을 부모 요소의 가로 너비의 절반으로 설정 */
  z-index: 100;
  padding: 8px 16px; /* 버튼의 여백 설정 */
  background-color: #4CAF50; /* 배경색 */
  color: white; /* 텍스트 색상 */
  border: none; /* 테두리 없애기 */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px; /* 버튼 모서리 둥글게 */
  cursor: pointer; /* 마우스 커서 스타일 */
}

.go-login:hover {
  background-color: #45a049;
}

/* 각각의 게시판을 담는 부모 컨테이너에 스타일을 적용합니다. */
.boards {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 800px;
  min-width: 800px;
  justify-content: space-between;
  z-index: 1;
}

.board {
  flex-basis: calc(33.33% - 20px);
  /* border: 1px none #000000; */
  padding: 15px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.board-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0px;        /* 제목을 최상단으로 */
  margin-bottom: 10px;
  text-align: center;
}

/* 각 게시판 내부의 게시글 스타일 */
.post-container {
  margin-top: 20px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.post {
  width: calc(50% - 5px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  background-color: #f9f9f9;
}
